.main-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion-titulo-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-links-container{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.div-links{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.link-productos{
    width: 170px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    font-style: italic;
    background-color: #f15a24;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    transition: all .4s;
}

.link-productos:hover{
    background-color: #d1431f;
}

.h1-productos{
    margin-top: 20px;
    color: white;
    font-weight: 400;
    width: 80%;
    text-align: center;
}

.filtros-container{
    margin-top: 10px;
    width: 100% !important;
    display: flex;
    justify-content: space-evenly;
}

.filtro-marca{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0px 0px;
}

.label-marcas{
    color: white;
    margin: 7px 0px;
    font-weight: 400;
    text-align: center;
}

/* loading-container */
.loading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.h5-loading{
    margin-top: 10px;
    color: white;
}

/* carrito-flotante */

.carrito-flotante{
    position: fixed;
    bottom: 0px;
    background-color: #293255;
    color: white;
    width: 100%;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -5px 40px rgba(0, 0, 0, 0.7);
}

.btn-ver-carrito{
    text-decoration: none;
    color: white;
    background-color: #f15a24;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0px;
    font-style: italic;
    font-weight: 500;
    border: 1px solid #293255;
    transition: .4s all;
}

.btn-ver-carrito:hover{
    color: white;
    background-color: #293255;
    border: 1px solid white;
}

.resumen-carrito{
    width: 100%;
}

.div-resumen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.p-resumen-carrito{
    font-weight: 400;
    margin: 4px;
    width: 150px;
}

.p-total-resumen-carrito{
    font-weight: 600;
    margin: 7px;
}

/* div-producto-container */

.seccion-productos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.div-productos-container{
    width: 100%;
    display: flex;
    justify-content: center;
    }

.div-producto-container{
    background-color: white;
    width: 180px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

.div-img-btn-producto{
    height: 130px;
}

.img-producto{
    width: 60px;
    max-height: 130px;
    margin: 0px 10px 0px 5px;
}

.div-btn-producto{  
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 90px;
    width: 40px;
    margin: 0px 10px 0px 5px;
    border: 3px solid #f15a24;
}

.btn-resta-suma{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f15a24;
    border: none;
    border-radius: 5px;
    transition: all .4s;
    padding: 0;
}
.btn-resta-suma:active{
    background-color: #d1431f;
}

.menos-icon{
    width: 40px;
}

.span-producto{
  background-color: white;
  height: 94%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-p-producto{
    margin-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 0px;
    margin-bottom: 5px;
    height: 200px;
    max-height: 220px;
}

.p-precio{
    font-weight: 600;
    font-size: 18px;
    margin: 3px 0px -5px 0px;
    color: #293255;
    height: 10px;
}
.p-nombre{
    font-weight: 500;
    font-style: italic;
    margin: 3px 0px;
    color: #293255;
    min-height: 45px;
    max-height: 80px;
}
.p-medida{
    font-weight: 600;
    margin: 3px 0px 10px 0px;
    color: #293255;
    height: 20px;
}

.btn-añadir{
    background-color: #f15a24;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 4px;
    transition: .4s all;
}

.btn-añadir:hover{
    background-color: #d1431f;
}

/* pagination */

.pagination {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .pagination-with-padding-190 {
    margin-bottom: 190px; /* Ambos productos y promos */
  }
  
  .pagination-with-padding-160 {
    margin-bottom: 160px; /* Solo productos o solo promos */
  }
  
  .pagination-button {
    margin: 0 2px;
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 2px;
  }
  
  .pagination-button.active {
    background-color: #f15a24;
    color: #fff;
  }
  
  .pagination-button:hover {
    background-color: #ddd;
  }

@media screen and (min-width: 501px) {

    .div-links{
        justify-content: space-around;
    }
    
    .link-productos{
        width: 200px;
    }
    
    .filtros-container{
        margin-top: 20px;
    }
    
    .filtro-marca{
       margin: 0px 20px;
    }
    
    /* div-producto-container */
    .div-producto-container{
        width: 220px;
    }
    
    .div-img-btn-producto{
        height: 170px;
    }
    
    .img-producto{
        width: 90px;
        max-height: 185px;
        margin: 0px 10px 0px 5px;
    }
    
    .div-btn-producto{  
        flex-direction: row;
        height: 35px;
        width: 90px;
        margin: 0px 20px 0px 0px;
    }
    
    .span-producto{
      width: 20px;
    }

    .menos-icon{
        width: 35px;
    }    
    .div-p-producto{
        margin-top: 5px;
        height: 180px;
        max-height: 200px;
    }
    
    .p-precio{
        margin: 3px 0px;
        height: 20px;
    }
    .filtros-container{
        width: 80%;
    } 
}

@media screen and (min-width: 570px) {
    .div-links-container{
        width: 80%;
    }

    .carrito-flotante{
        width: 100%;
    }

    .div-producto-container{
        margin: 2%;
    }
    
    .resumen-carrito{
    display: flex;
    align-items: center;
}
.p-resumen-carrito{
 font-size: 18px;
}
}

@media screen and (min-width: 860px) {
    .div-links-container{
        width: 80%;
    }

.link-productos{
    padding: 10px 20px;
    justify-content: center;
    width: 300px;
}

.div-producto-container{
    width: 250px;
}


}


@media screen and (min-width: 980px) {

    .filtros-container{
        width: 80% !important;
        display: flex;
        justify-content: space-around;
    }
    
    .filtro-marca{
       flex-direction: row;
       justify-content: space-between;
       align-items: center;
       width: 400px;
    }
    

.div-producto-container{
    width: 250px;
}

.div-btn-producto{  
    margin: 0px 15px ;
}

.img-producto{
    margin: 0px 25px 0px 0px;
}
}




/*  IMAGENES DE PRODUCTOS  */
.img-almacen31{
    width: 70px;
}
.img-almacen32{
    width: 85px;
}.img-almacen45{
    width: 85px;
}.img-almacen48{
    width: 85px;
}
.img-almacen52{
    width: 75px;
}
.img-almacen1, .img-almacen2, .img-almacen3, .img-almacen4, .img-almacen5, .img-almacen6, .img-almacen7, .img-almacen8, .img-almacen9, .img-almacen10, .img-almacen11, .img-almacen12, .img-almacen13, .img-almacen13, .img-almacen14,.img-almacen30, .img-almacen33, .img-almacen34, .img-almacen35, .img-almacen36, .img-almacen37, .img-almacen38, .img-almacen42, .img-almacen43, .img-almacen44, .img-almacen46, .img-almacen47, .img-almacen49, .img-almacen50, .img-almacen51, .img-almacen53, .img-almacen54, .img-almacen55, .img-almacen56, .img-almacen57, .img-almacen58, .img-almacen59, .img-almacen60, .img-almacen61, .img-almacen62, .img-almacen63, .img-almacen64, .img-almacen65, .img-almacen66, .img-almacen67, .img-almacen68, .img-almacen69, .img-almacen70, .img-almacen71, .img-almacen72, .img-almacen73, .img-almacen74, .img-almacen75, .img-almacen76, .img-almacen77, .img-almacen78, .img-almacen79, .img-almacen80, .img-almacen81, .img-almacen82, .img-almacen83, .img-almacen84, .img-almacen85, .img-almacen86, .img-almacen87, .img-almacen88, .img-almacen89, .img-almacen90, .img-almacen91, .img-almacen92, .img-almacen93, .img-almacen94, .img-almacen95, .img-almacen96, .img-almacen97, .img-almacen98, .img-almacen99, .img-almacen100, .img-almacen101, .img-almacen102, .img-almacen103, .img-almacen104, .img-almacen105, .img-almacen106, .img-almacen107, .img-almacen108, .img-almacen109, .img-almacen110, .img-almacen111, .img-almacen112, .img-almacen113, .img-almacen114, .img-almacen115, .img-almacen116, .img-almacen117, .img-almacen118, .img-almacen119, .img-almacen120, .img-almacen121, .img-almacen122, .img-almacen123, .img-almacen124, .img-almacen125, .img-almacen126, .img-almacen127, .img-almacen128, .img-almacen129, .img-almacen130, .img-almacen131, .img-almacen132, .img-almacen133, .img-almacen134, .img-almacen135, .img-almacen136, .img-almacen137, .img-almacen138, .img-almacen139, .img-almacen140, .img-almacen141, .img-almacen142, .img-almacen143, .img-almacen144, .img-almacen145, .img-almacen146, .img-almacen147, .img-almacen148, .img-almacen149, .img-almacen150, .img-almacen151, .img-almacen152, .img-almacen153, .img-almacen154, .img-almacen155, .img-almacen156, .img-almacen157, .img-almacen158, .img-almacen159, .img-almacen160, .img-almacen161, .img-almacen162, .img-almacen163, .img-almacen164, .img-almacen165, .img-almacen166, .img-almacen167, .img-almacen168, .img-almacen169, .img-almacen170, .img-almacen171, .img-almacen172, .img-almacen173, .img-almacen174, .img-almacen175, .img-almacen176, .img-almacen177, .img-almacen178, .img-almacen179, .img-almacen180, .img-almacen181, .img-almacen182, .img-almacen183, .img-almacen184, .img-almacen185, .img-almacen186, .img-almacen187{
    width: 80px;
}


.img-cervezalata1, .img-cervezalata2, .img-cervezalata3, .img-cervezalata4, .img-cervezalata5, .img-cervezalata6, .img-cervezalata7, .img-cervezalata8, .img-cervezalata9, .img-cervezalata10, .img-cervezalata11, .img-cervezalata12, .img-cervezalaton1, .img-cervezalaton2, .img-cervezalaton3, .img-cervezalaton4,.img-fernet1, .img-fernet2, .img-gin1, .img-callia1, .img-cafayate1, .img-vermouth1, .img-vermouth2, .img-colonselectorosado1, .img-cordero1, .img-cervezabotella1, .img-dondavid1, .img-donvalentin1, .img-eugenio1, .img-cervezaretor4, .img-licor1, .img-espumante1, .img-profugo1, .img-santajulia1, .img-vodka1, .img-vodka2, .img-vodka3, .img-vodka4, .img-vodka5, .img-vodka6, .img-vodka7, .img-vodka8, .img-vodka9, .img-vodka10, .img-toro1, .img-toro2, .img-toro3, .img-toro4, .img-trumpeter1, .img-balvo1, .img-fernet3, .img-cervezaretor1, .img-cervezaretor2, .img-cervezaretor3,.img-cervezaretor5, .img-cervezaretor6, .img-cervezaretor7, .img-cervezaretor7, .img-cervezaretor9, .img-cervezaretor10, .img-cervezabotella2, .img-cervezabotella3, .img-cervezabotella4, .img-cervezabotella5{
   width: 50px;
   height: 130px;
}

