@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #293255;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

code {
  font-family: "Montserrat", sans-serif;
}
